body, html{
    margin: 0;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('D:\Колледж/ИТ/веб/html/fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: 'Yeseva';
    src: url('D:\Колледж/ИТ/веб/html/fonts/YesevaOne-Regular.ttf');
}
.font{
    font-family: 'NunitoSans';
}

.font_h1{
    font-family: 'Yeseva';
}

.header{
    width: 100%;
    height: 60px;
}
nav{
    list-style-type: none;
    float: right;
    margin-right: 200px;
}

.header_nav{
    margin-right: 47px;
}

.lotos{
    margin-right: 1100px;
}

.header_navigate{
    list-style: none;
    display: flex;
}

.header_navigate a{
    text-decoration: none;
    color: black;
}

.hero{
    background-image: url('D:\Колледж/ИТ/веб/html/images/image 17.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 400px;
}

.hero1{
    display: inline-block;
}

.hero_item{
    font-size: 40px;
    padding-left: 200px;
    padding-top: 150px;
}

.hero_item1{
    display: inline-block;
    overflow: hidden;
    margin-top: 348px;
    margin-left: 77px;
    font-size: 20px;
}

.button{
    background: transparent;
    border-radius: 2px;
    border: 1px solid #000000;
    padding: 10px 33px;
    font-family: 'NunitoSans';
}

.img{
    background-size: cover;
    object-fit: cover;
    background-position: center center;
    margin-top: 123px;
    margin-left: 391px;
}

.wrapper{
    display: flex;
}

.katalog{
    margin-left: 391px;
    margin-top: 62px;
}

.rast{
    margin-left: 391px;
    margin-top: 152px;
}

.hero2{
    margin-left: 20px;
}

.price{
    margin-left: 230px;
}

.guide{
    background-image: url('D:/Колледж/ИТ/веб/html/images/image 20.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 400px;
    width: 100%;
}

.guide1{
    font-size: 75px;
    margin-left: 390px;
    padding-top: 274px;
}

input[type="Имя"] {
    height: 56px;
    width: 309px;
    margin-left: 392px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type="Телефон"] {
    height: 56px;
    width: 309px;
    margin-left: 42px;
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.zakaz{
    margin-left: 392px;
    margin-top: 60px;
    height: 56px;
    width: 161px;
}

.blog{
    margin-left: 390px;
    margin-top: 125px;
}

.blog1{
    margin-left: 20px;
}

.blog2{
    margin-top: 60px;
}

.footer{
    background-image: url("D:/Колледж/ИТ/веб/html/images/image 23.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 629px;
}

.footer1{
    font-size: 75px;
    margin-left: 960px;
    padding-top: 140px;
}

.footer2{
    font-size: 24px;
    margin-top: 18px;
    margin-left: 960px;
}

.contacts{
    text-align: center;
    margin-top: 20px;
}
